@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Great+Vibes&family=Satisfy&display=swap');

/*== VARIABLES ==*/
:root {
  --firstColor: #B8860B;
  --colorBody: #E0FFFF;
  --colorText: #5086c1;
  --colorGold: linear-gradient(to right, #462523 0, #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%, #462523 100%);
  --textBody: "Cormorant Garamond", serif;
  --textTitle: "Great Vibes", cursive;
}

/*== GENERAL ==*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: var(--textBody);
  font-style: italic;
  font-weight: 700;
  background-color: var(--colorBody);
  color: var(--colorText);
}

article {
  margin: 4rem 0;
  text-align: center;
  font-size: 1.8rem;
}

h1, h2, h3 {
  margin: 0;
}

img, svg {
  display: inline-block;
}

a {
  color: var(--colorText);
}

.header,
.footer {
  background: url(rosas.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 12rem;
  object-fit: cover;
  position: relative;
}

.custom-shape-divider-bottom-1719876275 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1719876275 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 7rem;
}

.custom-shape-divider-bottom-1719876275 .shape-fill {
  fill: var(--colorBody);
}

.wrapper {
  max-width: 150rem;
  width: 80%;
  margin: auto;
}

.center {
  text-align: center;
  font-size: 1.8rem;
}

.gold {
  color: transparent;
  background: var(--colorGold);
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 3rem;
  font-family: var(--textTitle);
  text-align: center;
}

.title {
  font-size: 3rem;
}

.photos {
  display: flex;
  align-content: center;
  justify-content: center;
}

.photo {
  width: 80%;
  clip-path: circle(40% at 50% 50%);
  object-fit: contain;
}

.photo img {
  width: 100%;
}

.parents {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 1.6rem;
}

.date {
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  color: var(--firstColor);
}

.spots {
  display: flex;
  align-items: center;
}

.spot {
  background-color: var(--colorText);
  width: .7rem;
  height: .7rem;
  border-radius: 50%;
}

.lines {
  padding: 0 3rem;
  margin-bottom: 1rem;
}

.line {
  width: 100%;
  height: .2rem;
  border-radius: 1rem;
  background-color: var(--colorText);
}

.address {
  font-size: 1.6rem;
  text-align: center;
}

.address_date {
  font-size: 2rem;
  color: var(--firstColor);
}

.address p {
  margin: 0;
}

.text {
  margin-bottom: 3rem;
}

.text__final {
  text-align: center;
  font-size: 2.6rem;
  color: var(--firstColor);
  font-family: var(--textTitle);
}

/*== FOOTER ==*/
.custom-shape-divider-top-1719876356 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1719876356 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 7rem;
}

.custom-shape-divider-top-1719876356 .shape-fill {
  fill: var(--colorBody);
}